/****************************
		   CONTENT
*****************************/

.sign-holder {
	display: none;
}

.profile {
	display: none;
	float: none;
	margin: 0;
}

.profile span {
	display: none;
}

.profile h2,
.profile h4 {
	display: block;
	margin-top: 0;
}

.gallery {
	display: none;
}

.place {
	display: none;
}

.page-content {
	max-width: 900px;
	min-height: 700px;
	margin-top: 130px;
	border-radius: 20px;
	background-color: rgba(240, 240, 255, 0.8);
	box-shadow: 10px 10px 20px #888888;
	padding: 10px;
	box-sizing: border-box;
}

/****************************
	   MEDIA QUERIES
*****************************/

@media screen and (min-width: 900px){
	.content-left {
		display: block;
		max-width: 295px;
		height: 100%;
		margin-bottom: 20px;
		float: right;
		/*background: black;*/
	}

	.sign-holder {
		margin: 0;
		margin-bottom: 20px;
		float: none;
		display: block;
	}

	.profile {
		display: block;
		width: 100%;
		max-height: 165px;
		margin-bottom: 20px;
	}

	.gallery {
		display: block;
		width: 100%;
		max-height: 300px;
		margin: 40px 0;
	}

	.place {
		display: block;
		width: 100%;
		max-height: 350px;
		margin: 40px 0;
	}

	.place iframe {
		display: block;
		width: 100%;
		height: 285px;
	}

	.page-content {
		width: 495px;
	}

	.contact {
		width: 495px;
		height: 150px;
	}

	.contact a {
		margin-left: 20px;
	}

	@media screen and (min-width: 1000px){
		.page-content {
			width: 580px;
		}

		.contact {
			width: 580px;
		}

		.contact a {
			margin: 0;
		}

		@media screen and (min-width: 1100px){
			.page-content {
				width: 690px;
			}

			.contact {
				width: 690px;
			}
			@media screen and (min-width: 1200px){
				.page-content {
					width: 750px;
				}

				.contact {
					width: 750px;
				}

				.contact h1 {
					margin-bottom: 30px;
				}
			}
		}
	}

}