/* for landscape mobile 
@media screen and (min-width: 480px) {

}
*/

/* for tablets and desktops */
@media screen and (min-width: 600px) {

	/****************************
			   CONTENT
	*****************************/

	.background {
		background-image: linear-gradient( to top, #F8F8FF 50%, transparent 60%), url("../img/enseada.jpg");
		background-position: -200px 0 ;
	}

	.profile {
		text-align: center;
		width: 100%;
		height: 100%;
		text-align: center;
		margin-bottom: 0;	
		background: black;	
	}

	.profile-img {
		margin: 10px;
		float: left;
	}

	.profile span {
		display: block;
		color: white;
		margin: 10px;
	}

	.profile h2,
	.profile h3,
	.profile h4 {
		margin-right: 20px;
		display: inline;
	}

	#overlay img {
		margin-top: 200px;
		max-width: 550px;
		max-height: 700px;
	}

	/****************************
			   FOOTER
	*****************************/

	footer {
		position: relative;
	}

	@media screen and (min-width: 900px) {
		/****************************
				   HEADER
		*****************************/

		header {
			border-bottom-right-radius: 0;
		    border-bottom-left-radius: 0;
		    background: #F8F8FF;
		    height: 35px;
		    box-shadow: none;
		}

		.logo {
			width: 120px;
			height: 120px;
		}

		/****************************
				   MENU
		*****************************/

		menu {
			-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			position: fixed;
			box-shadow: none;
			width: 100%;
			height: 60px;
			margin-top: 8px;
			background: none;
		}

		menu ul {
			display: inline-block;
			position: relative;
			width: 100%;
		}

		menu ul a{
			border-bottom: none;
		}

		.menu-left {
			padding-left: 5%;
			float: left;
			background: linear-gradient(#F8F8FF 40%, #D0D0D0);
			box-shadow: 0 5px 20px #888888;
			width: 45%;
			border-bottom-right-radius: 50px;
			box-sizing: border-box;
		}

		.menu-right {
			padding-left: 5%;
			float: right;
			background: linear-gradient(#F8F8FF 40%, #D0D0D0);
			box-shadow: 0 5px 20px #888888;
			width: 45%;
			border-bottom-left-radius: 50px;
			box-sizing: border-box;
		}

		menu ul li {
			display: inline-block;
		}

		menu ul li a {
			margin-left: 5px;
		}

		.menu-anchor {
			display: none;
		}

		/****************************
				   CONTENT
		*****************************/

		.background {
			background-image: linear-gradient( to top, #F8F8FF 15%, transparent 50%), url("../img/enseada.jpg");
			background-position: 0;
			top: 75px;
		}

		.content-up {
			margin-top: 10px;
			width: 100%;
		}

		.sign-holder {
			float: left;
			width: 49%;
		}

		.profile {
			float: left;
			width: 49%;
			margin-top: 130px;
		}


		#overlay img {
			margin-top: 200px;
			max-width: 800px;
			max-height: 500px;
		}

		.contact ul li {
			display: inline-block;
			margin: 0 30px;
		}

		@media screen and (min-width: 1100px) {
			/****************************
					   MENU
			*****************************/
			.menu-left {
				width: 46%;
			}

			.menu-right {
				width: 46%;
				padding-left: 10%;
			}

			/****************************
					   CONTENT
			*****************************/
			.background {
				background-image: linear-gradient( to top, #F8F8FF 15%, transparent 60%), url("../img/enseada.jpg");
				background-position: 0;
				top: 75px;
			}

			#overlay img {
				margin-top: 150px;
				max-width: 1000px;
				max-height: 500px;
			}

		};

	};
	
};





