/****************************
			ALL PAGE
*****************************/

html {
	background: #E9CE9D;
	font-family: 'Original Surfer', cursive;
}

a {
	text-decoration: none;
	color: white;
}


/****************************
			HEADER
*****************************/

header {
	width: 100%;
}

.background img {
	width: 100%;
}

.logo {
	height: 130px;
	width: 130px;
	border-radius: 120px;
	background: black;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 2px;
	right: 0;
	left: 0;
}

.logo img {
	height: 97%;
	border-radius: 80px;
	margin: 0 auto;
}


/********************************
			MENU
*********************************/

.menu-anchor {
	width: 40px;
	height: 32px;
	margin: 10px auto; 
	display: block;
	background: #000;
	position: absolute;
	transition: all .25s linear;
}

.menu-anchor:before {
	content: "";
	display: block;
	margin: 7px auto;
	width: 70%;
	height: 0.25em;
	background: yellow;
	box-shadow: 0 .45em 0 0 yellow, 0 .9em 0 0 yellow;
}

.menu-active .menu-anchor {background: lightblue}

menu {
	margin-top: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 145px;
	height: 100%;
	padding-top: 10px;
	background-image: url("../img/sand.jpg");
	/*background: #d55401;*/
	box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3)
}

menu ul {
	padding: 0;
}

menu li a {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin: 0 10px;
	padding: 10px;
	color: #FFF;
	text-decoration: none;
}

menu li a:hover {
	background: #000;
	color: yellow;
}


/*
	Aqui você esconde o menu para fora da tela 
	O valor é exatamente a largura da sidebar
*/
menu {
	-webkit-transform: translateX(-145px);
	-moz-transform: translateX(-145px);
	-ms-transform: translateX(-145px);
	transform: translateX(-145px);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
	Essa é a posição original do HEADER e do MAIN
*/
header, .main {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
   Com a classe menu-active na tag HTML
*/

.menu-active menu {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu-active header, 
.menu-active .main {
	-webkit-transform: translateX(145px);
	-moz-transform: translateX(145px);
	-ms-transform: translateX(145px);
	transform: translateX(145px);
}




/********************************
			CONTENT
*********************************/

.content {
	margin: 0 auto;
	width: 310px;
	text-align: center;
}

.buttom {
	width: 100%;
	height: 50px;
	background: black;
	margin: 40px auto;
	text-align: center;
	border-radius: 20px;
	color: yellow;
}


.profile {
	margin: 40px auto;
	width: 100%;
	height: 160px;
	border-style: solid;
	border-color: black;
	border-radius: 20px;
	background: black;
	color: yellow;
}

.profile img {
	width: 150px;
	height: 150px;
	border-radius: 300px;
	margin: 5px 10px;
	float: left;
}

.place {
	height: 365px;
	border-radius: 20px;
	background: black;
	color: yellow;
}

.place img {
	border-radius: 20px;
}

.gallery {
	margin: 100px 0;
	height: 200px;
	padding-top: 100px;
	background: black;
}

.gallery h1 {
	color: yellow;
}

.contact {
	margin: 30px 0;
}

/********************************
			FOOTER
*********************************/

footer {
	width: 100%;
	height: 80px;
	background-image: url("../img/sand2.jpg");
	text-align: center;
}

footer p {
	padding-top: 30px;
}

