/****************************
			ALL PAGE
*****************************/

html {
	background: #F8F8FF;
	font-family: 'Original Surfer', cursive;
}

a {
	text-decoration: none;
	color: white;
}


h1,
h2,
h3,
h4 {
	color: yellow;
	text-shadow: 2px 0 0 #000,
			    -2px 0 0 #000,
			     0 2px 0 #000, 
			    0 -2px 0 #000, 
			     1px 1px #000, 
			 -1px -1px 0 #000, 
			  1px -1px 0 #000, 
			  -1px 1px 0 #000;
}


/****************************
			HEADER
*****************************/

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: linear-gradient(white 10%, #D0D0D0 60%);
	box-shadow: 1px black;
	margin-bottom: 10px;
    box-shadow: 0 5px 20px #888888;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 10;
}

.logo {
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background: black;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	top: 2px;
	right: 0;
	left: 0;
	box-shadow: 0 5px 20px #888888;
}


/********************************
			MENU
*********************************/

.menu-anchor {
	width: 40px;
	height: 32px;
	margin: 10px auto; 
	display: block;
	background: black;
	position: absolute;
	transition: all .25s linear;
}

.menu-anchor:before {
	content: "";
	display: block;
	margin: 7px auto;
	width: 70%;
	height: 0.25em;
	background: yellow;
	box-shadow: 0 .45em 0 0 yellow, 0 .9em 0 0 yellow;
}

.menu-active .menu-anchor {
	background: yellow;
}
.menu-active .menu-anchor:before {
	background: black;
	box-shadow: 0 .45em 0 0 black, 0 .9em 0 0 black;
}

menu {
	margin-top: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 145px;
	height: 100%;
	padding-top: 10px;
	box-shadow: inset -5px -10px 10px 0 rgba(0,0,0,.3);
	background: linear-gradient(white 10%, #D0D0D0 60%);;
}

menu ul {
	padding: 0;
}

menu li a {
	display: block;
	border-bottom: 1px solid rgba(255,255,255,.3);
	margin: 0 10px;
	padding: 10px;
	border-radius: 50%;
	color: white;
	text-shadow: 2px 0 0 #000,
			    -2px 0 0 #000,
			     0 2px 0 #000, 
			    0 -2px 0 #000, 
			     1px 1px #000, 
			 -1px -1px 0 #000, 
			  1px -1px 0 #000, 
			  -1px 1px 0 #000;
	text-decoration: none;
}

menu li a:hover {
	background: #000;
	color: yellow;
}


/*
	Aqui você esconde o menu para fora da tela 
	O valor é exatamente a largura da sidebar
*/
menu {
	-webkit-transform: translateX(-145px);
	-moz-transform: translateX(-145px);
	-ms-transform: translateX(-145px);
	transform: translateX(-145px);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
	Essa é a posição original do HEADER e do MAIN
*/
header, .content {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

/*
   Com a classe menu-active na tag HTML
*/

.menu-active menu {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

.menu-active header {
	-webkit-transform: translateX(145px);
	-moz-transform: translateX(145px);
	-ms-transform: translateX(145px);
	transform: translateX(145px);
}




/********************************
			CONTENT
*********************************/

.background {
	position: fixed;
	background: linear-gradient( to top, #F8F8FF 67%, transparent 87%), url("../img/enseada.jpg") no-repeat center;
	background-position: -450px -20px;
	background-size: 1280px;
	width: 100%;
	height: 400px;
	top: 60px;
}

.content{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}


.sign-holder {
	margin: 0 auto;
	margin-top: 130px;
	text-align: center;
}

.sign {
	font-family: arial;
	color: #F0F0F0;
	border-style: solid;
	border-color: #006600;
	border-radius: 5px;
	text-align: left;
	width: 300px;
	margin: 0 auto;
	z-index: -10;
}

.sign h1,
.sign h2 {
	color: white;
	text-shadow: none;
}

.classes {
	border-style: solid;
	border-color: #F0F0F0;
	border-radius: 5px;
	background: #006600;
	vertical-align: middle;
}

.classes h1 {
	width: 100%;
	text-align: center;
	padding-bottom: 15px;
}

.classes h2 {
	padding-left: 30px;
	padding-bottom: 10px;
}

.classes h2 img{
	padding-left: 60px;
}

.classes .border {
	border-bottom: solid;
}

.classes .border img {
	padding-left: 118px;
}

.profile {
	margin: 60px auto;
	width: 300px;
	height: 160px;
	border-radius: 20px;
	color: yellow;
	background-color: rgba(240, 240, 255, 0.8);
	box-shadow: 10px 10px 20px #888888;
}

.profile-img {
	width: 150px;
	height: 150px;
	border-radius: 300px;
	margin: 5px;
	background-image: url("../img/narciso_perfil.jpg");
	background-size: 150px 150px;
	background-repeat: none;
	float: left;
}

.profile h2 {
	padding-top: 20px;
}

.profile span {
	display: none;
	text-shadow: 2px 0 0 #000,
			    -2px 0 0 #000,
			     0 2px 0 #000, 
			    0 -2px 0 #000, 
			     1px 1px #000, 
			 -1px -1px 0 #000, 
			  1px -1px 0 #000, 
			  -1px 1px 0 #000;
	letter-spacing: .12em;
}

.scrolloff {
    pointer-events: none;
}

.gallery {
	width: 100%;
	margin: 50px 0;
	height: 230px;
	border-radius: 20px;
	background-color: rgba(240, 240, 255, 0.8);
	box-shadow: 10px 10px 20px #888888;
	text-align: center;
}

.gallery h1 {
	margin-top: 5px;
	margin-bottom: 0;
	color: yellow;
	display: inline-block;
}

.gallery a {
	display: inline-block;
}

.gallery .images {
	width: 98%;
	height: 170px;
	margin: 5px auto;
	border-radius: 20px;
	background: black;
	overflow-y: hidden; 
	overflow-x: scroll;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;
}

.gallery .images img {
	height: 150px;
	margin: 10px 10px;
	box-sizing: border-box;
}

.gallery .images img:hover {
	border-style: solid;
	border-width: 2px;
	border-color: yellow;
}

#overlay {
	background: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 1000px;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
}

#overlay img {
	margin-top: 120px;
	max-width: 300px;
	max-height: 400px;
}

.place {
	margin: 100px auto;
	height: 377px;
	border-radius: 20px;
	background-color: rgba(240, 240, 255, 0.8);
}

.place h1 {
	margin: 5px 0;
}

.place iframe {
	width: 100%;
	height: 300px;
}

.contact {
	margin: 30px 0;
	margin-bottom: 50px;
	width: 100%;
	min-height: 100px;
	border-radius: 20px;
	background-color: rgba(240, 240, 255, 0.8);
	box-shadow: 10px 10px 20px #888888;
}

.contact ul {
	padding: 0;
	padding-bottom: 10px;
}

.contact ul li {
	list-style: none;
	color: white;
	margin-bottom: 10px;
	text-shadow: 2px 0 0 #000,
			    -2px 0 0 #000,
			     0 2px 0 #000, 
			    0 -2px 0 #000, 
			     1px 1px #000, 
			 -1px -1px 0 #000, 
			  1px -1px 0 #000, 
			  -1px 1px 0 #000;
}

.contact li:hover {
	color: yellow;
}

/********************************
			FOOTER
*********************************/

footer {
	width: 100%;
	height: 30px;
	text-align: center;
	background: linear-gradient(white 10%, #D0D0D0 100%);
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 5px 20px #888888;
    position: fixed;
    bottom: 0;
}

footer p {
	margin-top: 7px;
	margin-bottom: 0;
}

/****************************
		 OTHER PAGES
*****************************/

/*.content-left {
	width: 300px;
}*/

/****************************
		   CLEAR FIX
*****************************/

.group::after {
	content: " ";
	display: table;
	clear: both;
}
